ul#game-board
	li.blank
	li#col0.tag 1
	li#col1.tag 2
	li#col2.tag 3
	li#col3.tag 4
	li#col4.tag 5
	li#col5.tag 6
	li#col6.tag 7
	li#col7.tag 8

	li#row0.tag A
	li#r0p0
	li#r0p1
	li#r0p2
	li#r0p3
	li#r0p4
	li#r0p5
	li#r0p6
	li#r0p7

	li#row1.tag	B
	li#r1p0
	li#r1p1
	li#r1p2
	li#r1p3
	li#r1p4
	li#r1p5
	li#r1p6
	li#r1p7
	
	li#row2.tag	C
	li#r2p0
	li#r2p1
	li#r2p2
	li#r2p3
	li#r2p4
	li#r2p5
	li#r2p6
	li#r2p7

	li#row3.tag	D
	li#r3p0
	li#r3p1
	li#r3p2
	li#r3p3
	li#r3p4
	li#r3p5
	li#r3p6
	li#r3p7
	
	li#row4.tag	E
	li#r4p0
	li#r4p1
	li#r4p2
	li#r4p3
	li#r4p4
	li#r4p5
	li#r4p6
	li#r4p7

	li#row5.tag	F
	li#r5p0
	li#r5p1
	li#r5p2
	li#r5p3
	li#r5p4
	li#r5p5
	li#r5p6
	li#r5p7

	li#row6.tag	G
	li#r6p0
	li#r6p1
	li#r6p2
	li#r6p3
	li#r6p4
	li#r6p5
	li#r6p6
	li#r6p7

	li#row7.tag	H
	li#r7p0
	li#r7p1
	li#r7p2
	li#r7p3
	li#r7p4
	li#r7p5
	li#r7p6
	li#r7p7